body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
  margin-left: 20px;
}

.friend-img {
  height: 200;
  width: 200;
}

.button {
  background-color: #ffa94d;
  color: #343a40;
  border: none;
  border-radius: 7px;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form {
  font-size: 1.6rem;
  background-color: #fff4e6;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: bold;
}

.form h3 {
  text-transform: uppercase;
}

label::first-letter {
  display: inline-block;

  font-size: 1.8rem;
}
